header {
  height: 6rem;
  width: 100vw;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: transparent;
}

.headerEnd {
  display: flex;
  justify-content: space-between;
  width: 11%;
}

.contact > button {
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
