header {
  position: sticky;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  background-color: transparent;
  z-index: 10;
}

.logo > img {
  position: relative;
  bottom: 1rem;
  height: 4rem;
  width: 14.5rem;
  margin-top: 2rem;
}

.headerEnd {
  position: relative;
  left: 32%;
  display: flex;
  justify-content: space-between;
  width: 11%;
  margin-top: 2rem;
}

.contact > button {
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navSection > svg {
  position: relative;
  top: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: var(--color-primary);
  z-index: 100;
}

nav > ul {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 2.5rem;
}

.close {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

nav > ul > li {
  margin-bottom: 1rem;
  cursor: pointer;
}

nav > ul > li:hover {
  letter-spacing: 0.25rem;
  transition: 0.8s ease-in-out;
}

nav > ul > li > span {
  position: relative;
  bottom: 0.3rem;
  left: 1rem;
}

.dropDown {
  display: none;
  font-size: 1rem;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5.2rem;
  left: 3rem;
  width: 28%;
}

footer > div {
  cursor: pointer;
}

/* move divs up on hover */
footer > div:hover {
  transform: translateY(-0.35rem);
  transition: 0.2s ease-in-out;
}
